<!--Footer-->
<!-- for icons we are using ionic icon set, more info see http://ionicons.com/ -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-sm-4 col-xs-6 copy">
        &copy; 2015 - CSHL <br/>
      </div>
      <div class="col-md-4 col-sm-8 col-xs-6">
          <ul class="icon-list">
            <li>
              <a href="http://cshluesocc.org">
                <i class="icon ion-link"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/csluesocc">
                <i class="icon ion-social-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/csluesocc">
                <i class="icon ion-social-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/cshluesocc">
                <i class="icon ion-social-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/communities/103534834548089371222">
                <i class="icon ion-social-googleplus"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/csluesocc">
                <i class="icon ion-social-github"></i>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>
<!-- end footer -->
